.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
  max-width: 500px;
  margin: 0 auto;
}

.button {
  display: flex;
  gap: 8px;
}
